<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/picnic.min.css">
    <script type="text/javascript" src="javascripts/meals.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      button {
        min-width: 4.5em;
      }
      .container {
        flex-direction: column;
        max-width: 800px;
        margin: auto;
      }
      .bar-green {
        color: green;
      }
      .bar-red {
        color: red;
      }
    </style>

  </head>
  <body>
    <section class="flex container">

        <form method="GET" action="/meals" style="margin: 10px auto 0 auto;">
          <input type="date" name="date" value="<%= date %>">
        </form>

      <% let dt = new Date(date).toDateString(); %>

      <div class="card" style="text-align: center;">

          Showing meal list for <%= dt %>
          <% if (errorMessage.length > 0) { %>
            <div class="bar-red"><%= errorMessage[0] %></div>
          <% } else if (successMessage.length > 0) { %>
            <div class="bar-green"><%= successMessage[0] %></div>
          <% } %>

      </div>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Meal 0.5</th>
            <th>Meal 01</th>
            <th>Meal 02</th>
          </tr>
        </thead>
        <tbody>
          <% for(meal of meals) { %>
            <% let text = ['OFF', 'ON'] %>
            <% let btnColor = ['error', 'success'] %>
              <tr id="<%= meal.id %>">
                <td><%= meal.name %></td>
                <td><button class="<%= btnColor[meal.meal_half] %>" name="meal_half" value="<%= meal.meal_half %>"><%= text[meal.meal_half] %></button></td>
                <td><button class="<%= btnColor[meal.meal_1] %>" name="meal_1" value="<%= meal.meal_1 %>"><%= text[meal.meal_1] %></button></td>
                <td><button class="<%= btnColor[meal.meal_2] %>" name="meal_2" value="<%= meal.meal_2 %>"><%= text[meal.meal_2] %></button></td>
              </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  </body>
</html>

