<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/picnic.min.css">
    <script type="text/javascript" src="javascripts/meals.js" defer></script>
    <meta name="viewport" content="width=device-width">

    <style>
      button {
        min-width: 4.5em;
      }
      .container {
        flex-direction: column;
        max-width: 800px;
        margin: auto;
      }
    </style>

  </head>
  <body>
    <section class="flex container">

        <form method="GET" action="/meals" style="margin: 10px auto 0 auto;">
          <input type="date" name="date" value="<%= date %>">
        </form>

      <% let dt = new Date(date).toDateString(); %>

      <div class="card" style="text-align: center;">

          <p style="padding: 0;">Showing meal list for <b><%= dt %></b></p>
          <% if (errorMessage.length > 0) { %>
            <p style="padding: 0;color: red;"><%= errorMessage[0] %></p>
          <% } else if (successMessage.length > 0) { %>
            <p style="padding: 0;color: green;"><%= successMessage[0] %></p>
          <% } %>

      </div>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <% for(let mealType of mealTypesForDate) { %>
              <th><%= mealType.mealType.name %></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% for(let tenant of tenants) { %>
            <% let text = ['OFF', 'ON', 'ON+'] %>
            <% let btnColor = ['error', 'success', 'warning'] %>
              <tr id="<%= tenant.hashid %>">
                <td><%= tenant.name %></td>
                <% for(let meal of tenant.meals) { %>
                  <% if(meal.quantity < 0) meal.quantity = 0 %>
                  <% let c = meal.quantity > 1 ? 2 : meal.quantity %>
                  <td><button class="<%= btnColor[c] %>" id="<%= meal.hashid %>" value="<%= meal.quantity %>">
                    <%= text[c] %>
                  </button></td>
                <% } %>
              </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  </body>
</html>

